annuaire.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	
		<xs:element name="annuaire">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="personne"  maxOccurs="unbounded" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="personne">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nom" type="xs:string" />
				<xs:element name="prenom" type="xs:string"  />
				<xs:element name="dateNaissance" type="xs:date" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	</xs:schema>
